:root{}

body{
    margin: 0px;
    padding: 30px;
    overflow: "scroll";
    background: rgb(32, 32, 32);

}
@media (min-width: 600px) {
    .column {
      width: 50%;
    }
  }

@viewport {
    width: device-width;
    zoom: 1;
  }


  img, video, canvas {
    max-width: 100%;
  }
canvas{
    box-shadow: -3px 2px 9px 6px black;
    cursor: pointer;
    height: 565 ;
    width: 400;
}

.tools{
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow: "scroll";
    margin-top: 15px;
}

.tools .color-field {
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid white;
    align-self: center;
    margin: 0 10px;
}

.tools .color-field:hover{
    border: 4px solid rgb(120, 120, 131);
}

.tools .button{
    align-self: center;
    width: 100px;
    height: 40px;
    border: 2px solid white;
    cursor: pointer;
    color: white;
    background: rgb(49, 48, 48);
    font-weight: bold;
    margin: 0 10px;
}

.tools .button:hover{
    border: 4px solid rgb(120, 120, 131);
}

.color-picker{
    align-self: center;
    margin: 0 10px;
    height: 50px;
    border: 2px solid white;
}

.tools #upload{
    align-self: center;
    /* width: 100px;
    height: 40px; */
    border: 2px solid Iwhite;
    cursor: pointer;
    color: white;
    font-weight: bold;
    margin: 0 10px;
}


.color-picker:hover{
    border: 2px solid rgb(120, 120, 131);
}
.pen-range{
    align-self: center;
    margin: 0 10px;
}


  

